# HTTP
HTTP_PORT=8080

# Log
LOG_LEVEL=debug

# PG
PG_POOL_MAX=20
PG_URL=postgres://user:sUp3RP4sSw0rD@db:5432/sales_tracker_db?sslmode=disable
PG_HOST=db
PG_PORT=5432
PG_USER=user
PG_PASSWORD=sUp3RP4sSw0rD
PG_DB=sales_tracker_db
PG_SSLMODE=disable

# Swagger
SWAGGER_ENABLED=true